@import ../../node_modules/breakpoint-sass/stylesheets/breakpoint
// @import ../../node_modules/bootstrap/scss/bootstrap

//Cores
$gn-menu: rgba(190,190,190,.5)
$gn-color1: #7bce00
$gn-color2: #454545
$gn-color3: #fff
$gn-color4: #BDD9F4

//Personalização do Bootstrap
$theme-colors: ("gn-color1": $gn-color1, "gn-color2":$gn-color2, "gn-color3":$gn-color3, "gn-color4":$gn-color4)

//font-weight
$flight: 300
$regular: 400
$medium: 500
$semi-bold: 600

//breakpoints
$celular: max-width 576px
$tablet: max-width 768px
$desktop: max-width 1366px

=transition($transition...)
	-webkit-transition: all $transition linear
	-o-transition: all $transition linear
	transition: all $transition linear

=filter-drop-shadow($offset-x,$offset-y,$blur-radius,$color)
	-webkit-filter: drop-shadow($offset-x,$offset-y,$blur-radius,$color)
	filter: drop-shadow($offset-x,$offset-y,$blur-radius,$color)

=placeholderColor($holderColor,$fontSize,$fontWeight)
	input::placeholder
		color: $holderColor
		font-size: $fontSize
		font-weight: $fontWeight
	input::-webkit-input-placeholder
		color: $holderColor
		font-size: $fontSize
		font-weight: $fontWeight
	input::-ms-input-placeholder
		color: $holderColor
		font-size: $fontSize
		font-weight: $fontWeight
	input::-ms-input-placeholder
		color: $holderColor
		font-size: $fontSize
		font-weight: $fontWeight
	textarea::placeholder
		color: $holderColor
		font-size: $fontSize
		font-weight: $fontWeight
	textarea::-webkit-input-placeholder
		color: $holderColor
		font-size: $fontSize
		font-weight: $fontWeight
	textarea::-ms-input-placeholder
		color: $holderColor
		font-size: $fontSize
		font-weight: $fontWeight
	textarea::-ms-input-placeholder
		color: $holderColor
		font-size: $fontSize
		font-weight: $fontWeight

=linearGradient($angulo, $cor1, $cor2, $cor3, $cor4)
	background: linear-gradient($angulo, $cor1, $cor2, $cor3, $cor4)
	background: -webkit-linear-gradient($angulo, $cor1, $cor2, $cor3, $cor4)
	background: -o-linear-gradient($angulo, $cor1, $cor2, $cor3, $cor4)
	background: linear-gradient($angulo, $cor1, $cor2, $cor3, $cor4)

=animation($nome,$time,$ease,$frequencia)
	-webkit-animation: $nome $time $ease $frequencia
	animation: $nome $time $ease $frequencia
