body { width: 100% !important; font-size: 16px !important; font-weight: 400; font-family: 'Barlow', sans-serif !important; color: #454545 !important; margin: 0 !important; padding: 0 !important; }

@media (max-width: 576px) { body { font-size: 14px !important; width: 100% !important; } }

header { border-bottom: 1.5px solid #DCDCDC; }

header .conteudo-header { padding: 1.75rem 0; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

header .conteudo-header h1 { width: 100%; margin: 0; font-size: 1rem !important; font-weight: 400; text-transform: uppercase; text-align: center; }

header .conteudo-header p { width: 100%; margin: 0; padding: 0; text-transform: uppercase; font-size: 1rem; font-weight: 500; }

footer { padding-bottom: 2rem; }

footer img { width: 14.625rem !important; margin: 2.1875rem auto 1.5rem auto; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

footer p { text-transform: uppercase; font-size: .875rem; font-weight: 300 !important; }

main #capa { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 3.75rem; padding: 12rem 0; background-image: url("../assets/bg_header_blog.png"); background-repeat: no-repeat; background-position: right; }

@media (max-width: 768px) { main #capa { padding: 6rem 0; } }

main #capa p { margin: 0; padding: 0; }

main #capa p:nth-child(1) { text-transform: uppercase; font-style: normal; font-size: 1.875rem; font-weight: 300; }

main #capa p:nth-child(2) { text-transform: uppercase; font-style: normal; font-size: 3.75rem; font-weight: 600; }

main #capa p:nth-child(3) { text-transform: uppercase; font-style: normal; font-size: 2rem; font-weight: 300; }

main #destaque-principal .row .col-sm-6:nth-child(1) { position: relative; padding: 0; margin: 0; }

main #destaque-principal .row .col-sm-6:nth-child(1) img { width: 100% !important; height: 100% !important; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }

main #destaque-principal .row .col-sm-6:nth-child(2) { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 3.125rem; background-color: #252D3A; }

main #destaque-principal .row .col-sm-6:nth-child(2) .conteudo-destaque h2 { font-style: normal; font-size: 2.5rem; font-weight: 600; color: #fff; }

main #destaque-principal .row .col-sm-6:nth-child(2) .conteudo-destaque .categoria-destaque { display: block; margin: 1rem 0 3.125rem 0; text-transform: uppercase; font-style: normal; font-size: .85rem; font-weight: 300; color: #fff; }

main #destaque-principal .row .col-sm-6:nth-child(2) .conteudo-destaque .btn-goog { padding: .625rem 2.25rem !important; border: 1px solid #7bce00; border-radius: 3px; text-transform: uppercase; text-decoration: none; font-style: normal; font-size: 1.125rem; font-weight: 300; color: #7bce00; }

main #destaque-principal .row .col-sm-6:nth-child(2) .conteudo-destaque .btn-goog:hover { background-color: #7bce00; color: #fff; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; }

main #destaque-principal .row .col-sm-6:nth-child(2) .conteudo-destaque .btn-goog i { -webkit-transform: translateY(25%); transform: translateY(25%); height: 100%; font-size: 1.5rem; }

main #destaques { margin-top: 6.875rem; padding: 4.0625rem 0; background-color: #F8F8F8; }

main #destaques h4 { margin-bottom: 1.5625rem; font-style: normal; font-size: 2.25rem; font-weight: 500; color: #7bce00; }

main #destaques h4 span { color: #454545; }

main #destaques p { margin-bottom: 4.625rem; font-style: normal; font-size: 1.125rem; font-weight: 300; }

main .card { margin: 1rem 0; }

main .card:hover { -webkit-transform: scale(1.05); transform: scale(1.05); -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

main .card .card-img-top { height: 12.5rem; }

main .card .card-img-top img { height: 100% !important; -o-object-fit: cover; object-fit: cover; -o-object-position: center; object-position: center; }

main .card .card-body { height: 9.375rem; background-color: #252D3A; }

main .card .card-body a { color: #fff !important; }

main .card .card-body h5 { margin-bottom: 1rem; font-style: normal; font-size: 1.25rem; font-weight: 600; }

main .card .card-body .categoria-destaque { font-style: normal; font-size: .85rem; font-weight: 300; text-transform: uppercase; }

main #publicacoes { margin: 0; padding: 5.25rem 0; }

main #publicacoes p { font-style: normal; font-size: 2.25rem; font-weight: 500; }

main #publicacoes p span { color: #7bce00; }

main #publicacoes .btn-center { margin-top: 5.3125rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

main #publicacoes .btn-center .btn-goog-publicacao { padding: .625rem 2.25rem !important; background-color: #7bce00; border-radius: 3px; text-transform: uppercase; text-decoration: none; font-style: normal; font-size: 1.125rem; font-weight: 300; color: #fff; }

main #publicacoes .btn-center .btn-goog-publicacao:hover { background-color: #6C1075; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; }

main #publicacoes .btn-center .btn-goog-publicacao i { -webkit-transform: translateY(25%); transform: translateY(25%); height: 100%; font-size: 1.5rem; }
